{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1 class="titlecreate">Create new Student</h1>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('student_liste') }}">back to list</a>
{% endblock %}
