{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1 class="titlecreate">Create new Room</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('room_liste') }}">back to list</a>
{% endblock %}
