{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="image">
        <img src="{{ asset('img/student.jpg') }}" alt="">
    </div>
    <div class="ImgHome">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi corporis dicta,
        est, et explicabo facilis
        incidunt laborum molestiae molestias nisi perferendis perspiciatis quaerat quia quisquam, ratione saepe ut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi architecto aut ea esse, explicabo natus
        pariatur quia sint totam. Accusamus amet iusto mollitia quaerat reiciendis sed soluta velit
        <br>

        <button class="btn btn-default">touch her pleas</button>
    </div>
{% endblock %}
